.header_container {
  position: absolute;
}

.main-header {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 8;
  background: #1d1d1d;
  height: 60px;
  padding-top: 8px;
}

.logo {
  position: relative;
  width: 13%;
  top: 0px;
  margin-top: -7px;
  margin-left: 130px;
  cursor: pointer;
}
