.main-header {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 8;
  background: #1d1d1d;
  height: 60px;
  padding-top: 8px;
}

.logo {
  width: 15%;
  top: 0px;
  margin-top: -6px;
  margin-left: 100px;
  cursor: pointer;
}
