.container-row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 1rem;
  margin: 1rem;
}

.container-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 1rem;
  margin: 1rem;
}


.x{
  font-size: 23px;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 99%;
  height: 99%;
  z-index: 9999;
  background: url('pageLoader.gif') 50% 50% no-repeat rgb(249,249,249);
  opacity: .8;
}

.notFound{
  color: rgb(110, 206, 238);
  text-align: center;
  margin-top: 255px;
  margin-left: 395px;
}




/* CSS */
.boton {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 10px;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.boton:hover,
.boton:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.boton:hover {
  transform: translateY(-1px);
}

.boton:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}



