.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 1rem;
  margin: 1rem;
}

.x{
  font-size: 23px;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 99%;
  height: 99%;
  z-index: 9999;
  background: url('pageLoader.gif') 50% 50% no-repeat rgb(249,249,249);
  opacity: .8;
}

.notFound{
  color: rgb(110, 206, 238);
  text-align: center;
  margin-top: 255px;
  margin-left: 395px;
}
