.main-footer {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  bottom: 0px;
  position: static;
  z-index: 8;
  overflow: hidden;
  backface-visibility: hidden;
  background: #1d1d1d;
  height: 60px;
  padding-top: 8px;
}

.main-footer p {
  margin-left: 25px;
  font-family: -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: #6ac045;
}
